{{block head}}
<style type="text/css">
*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*, html, body, table, form {
padding: 0;
margin: 0;
}

textarea, .textareaClone {
width:100%;
min-height:6em;
}

#dados {
background: beige;
padding: 5px 15px  3px 15px;
}

</style>

<script src="{{=URL('static','js/expanding.js')}}" type="text/javascript"></script>
{{end}}
{{extend 'layout.html'}}

<div id="quick-bar-left" class="img-title">
<uL>
<li><a href="#top" title="Top">&#8679;</a></li>
<li><a href="#f1" title="1. Projetos">1.</a></li>
<li><a href="#f2" title="2. Internacionalização">2.</a></li>
<li><a href="#f3" title="3. Publicações">3.</a></li>
<li><a href="#f4" title="4. Comunicações">4.</a></li>
<li><a href="#f5" title="5. Organização de eventos">5.</a></li>
<li><a href="#f6" title="6. Orientação de teses">6.</a></li>
<li><a href="#f7" title="7. Participação em equipas editoriais e comissões científicas de revistas">7.</a></li>
<li><a href="#f8" title="8. Atividades previstas para o próximo ano">8.</a></li>
<li><a href="#f9" title="9. Cargos de Gestão no ILCH ou na Universidade">9.</a></li>
<li><a href="#f10" title="10. Júris">10.</a></li>
<li><a href="#f11" title="11. Participação em Órgãos Sociais de Associações ou Sociedades Científicas">11.</a></li>
<li><a href="#f12" title="12. Outras atividades de extensão">12.</a></li>
</ul>
</div>

<h2 style="background:#333;color:#ffffff;padding:0px 8px;font-size:25px;">Editar relatório</h2>

<br>

{{if login != "yes":}}

{{if login in ["no","invalid"]:}}
<div class="errors" style="background:red;color:#ffffff;font-weight:bold;padding:2px 5px;">Por favor introduza um login válido.</div>
{{session.code = ""}}
{{session.password = ""}}
{{pass}}

<div id="dados">
<form action="{{=URL('default','edit')}}" enctype="multipart/form-data" method="post">
<h3 style="display:inline;">Por favor insira o login do relatório:</h3>

<table style="margin-top:10px;">
<tr>
<td>
<strong>Identificador:</strong>
</td>
<td>
<input name="code" />
</td>
</tr>
<tr>
<td>
<strong>Password:</strong>
</td>
<td>
<input name="password" />
</td>
</tr>
<tr>
<td>
<input type="submit" value="Editar" class="btn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;" />
</td>
</tr>
</table>
</form>
</div>

<br>
<br>

{{elif login == 'yes':}}

<div style="background:#99FF66;padding:5px 10px;border:3px solid green;">
<p>Nesta página poderá editar o seu relatório a qualquer altura. Para tal guarde os seguintes códigos de acesso, que poderá usar para reabrir o relatório mais tarde:</p>
<p><strong>&#9658;Identificador:</strong> {{=session.code}}</p>
<p><strong>&#9658;Password:</strong> {{=session.password}}</p>

{{if session.estado_email == "yes" and not form.errors:}}
<p><strong>Nota:</strong> dados gravados com sucesso e confirmação enviada para o e-mail indicado (<strong>{{=contents['email']}}</strong>)</p>
{{else:}}
<!--Ocultei porque o script de e-mail envia apenas, não consegue indicar se foi enviado com sucesso ou não ou se o e-mail estava mal formatado.
<p style="color:red;">Nota: tentamos enviar os dados automaticamente para o e-mail indicado (<strong>{{=contents['email']}}</strong>) mas ocorreu um erro, não foi possível. O e-mail poderá estar errado, ser inválido, ou ocorreu um erro temporário.</p>-->
{{pass}}
</div>

<br>

<form action="{{=URL('default','edit')}}" enctype="multipart/form-data" method="post">

<div>
<input type="submit" value="Gravar Relatório" class="brn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;">
<a href="{{=URL('default','logout')}}" class="btn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;text-decoration:none;float:right;">Logout</a>
</div>

<br>

<div style="border-top:1px solid gray;border-bottom:1px solid gray;padding:2px 10px;font-weight:bold;">Converter e descarregar o formulário em formato: <a href="{{=URL('default','export_rtf.rtf')}}" taget="_blank">TEXTO(RTF)</a> / <a href="{{=URL('default','export_pdf.pdf')}}" target="_blank">PDF</a> / <a href="{{=URL('default','export_html.html')}}" target="_blank">HTML</a> / <a href="{{=URL('default','export_csv.csv')}}" target="_blank">CSV</a></div>

<br>

{{if form.errors:}}
<div class="errors" style="background:red;color:#ffffff;font-weight:bold;padding:2px 5px;">ERRO: Não foi gravado! Por favor preencha todos os campos da secção "Informação Geral", são os únicos obrigatórios.</div>
{{pass}}

<div id="dados">
<h3 style="display:inline;">Informação Geral:</h3>
<span style="float:right;">*Preenchimento obrigatório</span>
<table>
<tr>
<td>
<strong>*Nome:</strong>
</td>
<td>
<input name="nome" value="{{=contents['nome']}}">
</td>
</tr>
<tr>
<td>
<strong>*E-mail:</strong>
</td>
<td>
<input name="email"  value="{{=contents['email']}}">
</td>
</tr>
<tr>
<td>
<strong>*Nº Mecanográfico:</strong>
</td>
<td>
<input name="number" value="{{=contents['number']}}" />
</td>
</tr>
<tr>
<td>
<strong>*Centro de Investigação:</strong>
</td>
<td>
<select name="centre">
<option value=""></option>
<option value="Nenhum"{{if contents['centre'] == 'Nenhum':}} selected="selected"{{pass}}>Nenhum</option>
<option value="CEHUM"{{if contents['centre'] == 'CEHUM':}} selected="selected"{{pass}}>CEHUM</option>
<option value="CEPS"{{if contents['centre'] == 'CEPS':}} selected="selected"{{pass}}>CEPS</option>
</select>
</td>
</tr>
<tr>
<td>
<strong>*Departamento:</strong>
</td>
<td>
<select name="department">
<option value=""></option>
<option value="Nenhum"{{if contents['department'] == 'Nenhum':}} selected="selected"{{pass}}>Nenhum</option>
<option value="DEA"{{if contents['department'] == 'DEA':}} selected="selected"{{pass}}>DEA</option>
<option value="DEGE"{{if contents['department'] == 'DEGE':}} selected="selected"{{pass}}>DEGE</option>
<option value="DEINA"{{if contents['department'] == 'DEINA':}} selected="selected"{{pass}}>DEINA</option>
<option value="DEPL"{{if contents['department'] == 'DEPL':}} selected="selected"{{pass}}>DEPL</option>
<option value="DER"{{if contents['department'] == 'DER':}} selected="selected"{{pass}}>DER</option>
<option value="DFIL"{{if contents['department'] == 'DFIL':}} selected="selected"{{pass}}>DFIL</option>
<option value="DM"{{if contents['department'] == 'DM':}} selected="selected"{{pass}}>DM</option>
</select>
</td>
</tr>
<tr>
<td>
<strong>*Categoria Profissional:</strong>
</td>
<td>
<select name="categoria">
<option value=""></option>
<option value="Assistente estagiário"{{if contents['categoria'] == 'Assistente estagiário':}} selected="selected"{{pass}}>Assistente estagiário</option>
<option value="Leitor"{{if contents['categoria'] == 'Leitor':}} selected="selected"{{pass}}>Leitor</option>
<option value="Assistente"{{if contents['categoria'] == 'Assistente':}} selected="selected"{{pass}}>Assistente</option>
<option value="Prof. Auxiliar convidado"{{if contents['categoria'] == 'Prof. Auxiliar convidado':}} selected="selected"{{pass}}>Prof. Auxiliar convidado</option>
<option value="Prof. Auxiliar sem agregação"{{if contents['categoria'] == 'Prof. Auxiliar sem agregação':}} selected="selected"{{pass}}>Prof. Auxiliar sem agregação</option>
<option value="Prof. Auxiliar com agregação"{{if contents['categoria'] == 'Prof. Auxiliar com agregação':}} selected="selected"{{pass}}>Prof. Auxiliar com agregação</option>
<option value="Prof. Associado sem agregação"{{if contents['categoria'] == 'Prof. Associado sem agregação':}} selected="selected"{{pass}}>Prof. Associado sem agregação</option>
<option value="Prof. Associado com agregação"{{if contents['categoria'] == 'Prof. Associado com agregação':}} selected="selected"{{pass}}>Prof. Associado com agregação</option>
<option value="Prof. Catedrático"{{if contents['categoria'] == 'Prof. Catedrático':}} selected="selected"{{pass}}>Prof. Catedrático</option>
<option value="Investigador (com bolsa)"{{if contents['categoria'] == 'Investigador (com bolsa)':}} selected="selected"{{pass}}>Investigador (com bolsa)</option>
<option value="Investigador (sem bolsa)"{{if contents['categoria'] == 'Investigador (sem bolsa)':}} selected="selected"{{pass}}>Investigador (sem bolsa)</option>
<option value="Investigador contratado"{{if contents['categoria'] == 'Investigador contratado':}} selected="selected"{{pass}}>Investigador contratado</option>
<option value="Outro"{{if contents['categoria'] == 'Outro':}} selected="selected"{{pass}}>Outro</option>
</select>
</td>
</tr>

<tr>
<td>
<strong>*Grau:</strong>
</td>
<td>
<select name="grau">
<option value=""></option>
<option value="Licenciado"{{if contents['grau'] == 'Licenciado':}} selected="selected"{{pass}}>Licenciado</option>
<option value="Mestre"{{if contents['grau'] == 'Mestre':}} selected="selected"{{pass}}>Mestre</option>
<option value="Doutor"{{if contents['grau'] == 'Doutor':}} selected="selected"{{pass}}>Doutor</option>
<option value="Agregação"{{if contents['grau'] == 'Agregação':}} selected="selected"{{pass}}>Agregação</option>
</select>
</td>
</tr>
</table>
</div>

<br>
<br>

<div id="info">
<div style="border-top:1px solid gray;border-bottom:1px solid gray;padding:2px 10px;"><strong>Instruções importantes:</strong> 1) em cada campo ordene os itens por ordem de importância (os mais importantes primeiro); 2) Divida cada item de forma clara através de parágrafos e listas ordenadas numericamente (ex.: 1- etc.; [parágrafo] 2- etc.; [parágrafo] 3- etc;); 3) especifique o máximo de detalhes.</div>

<h3 id="f1">1. Projetos</h3>

<strong>1.1. Projeto(s) não financiados (indicar título, data de início e supervisor/coordenador):</strong>
<br>
<textarea name="f1_1" class="expanding">{{=contents['f1_1']}}</textarea>
<br>
<strong>1.2. Projeto(s) financiado(s) pela FCT ou outras entidades nacionais (indicar título, data de início e investigador responsável):</strong>
<br>
<textarea name="f1_2" class="expanding">{{=contents['f1_2']}}</textarea>

<br>

<h3 id="f2">2. Internacionalização</h3>

<strong>2.1. Participação em projetos ou redes internacionais (indicar título, instituição responsável, URL, financiamento e data de início e fim, se aplicável):</strong>
<br>
<textarea name="f2_1" class="expanding">{{=contents['f2_1']}}</textarea>

<br>

<h3 id="f3">3. Publicações</h3>
<strong>Nota importante: As referências das publicações devem ser indicadas em formato APA, com indicação do URL (referente ao depósito em repositório / link da revista / DOI / indexação / e-Book)</strong>
<br>
<br>
<strong>3.1. Livros (indicar se é monografia, volume editado, etc.):</strong>
<br>
<textarea name="f3_1" class="expanding">{{=contents['f3_1']}}</textarea>

<br>

<strong>3.2. Capítulos de livros (indicar se for peer review)</strong>
<br>

<strong>3.2.1. Capítulos de livros nacionais:</strong>
<br>
<textarea name="f3_2_1" class="expanding">{{=contents['f3_2_1']}}</textarea>

<br>

<strong>3.2.2. Capítulos de livros internacionais:</strong>
<br>
<textarea name="f3_2_2" class="expanding">{{=contents['f3_2_2']}}</textarea>

<br>

<strong>3.3. Artigos em livros de atas:</strong>
<br>
<textarea name="f3_3" class="expanding">{{=contents['f3_3']}}</textarea>

<br>

<strong>3.4. Publicações em revistas (indicar se for peer review)</strong>

<br>

<strong>3.4.1. Artigos em revistas nacionais:</strong>
<br>
<textarea name="f3_4_1" class="expanding">{{=contents['f3_4_1']}}</textarea>

<br>

<strong>3.4. 2 Artigos em revistas internacionais:</strong>
<br>
<textarea name="f3_4_2" class="expanding">{{=contents['f3_4_2']}}</textarea>

<br>

<strong>3.5 Outras publicações (não indicar publicações no prelo):</strong>
<br>
<textarea name="f3_5" class="expanding">{{=contents['f3_5']}}</textarea>

<br>

<h3 id="f4">4. Comunicações</h3>

<strong>4.1. Eventos nacionais (indicar se por convite ou submissão de resumo):</strong>
<br>
<textarea name="f4_1" class="expanding">{{=contents['f4_1']}}</textarea>

<br>

<strong>4.2. Eventos internacionais (indicar se por convite ou submissão de resumo):</strong>
<br>
<textarea name="f4_2" class="expanding">{{=contents['f4_2']}}</textarea>

<br>

<h3 id="f5">5. Organização de eventos</h3>
<strong>Indicar título, data, local e URL do evento.</strong>
<br>
<textarea name="f5" class="expanding">{{=contents['f5']}}</textarea>

<br>

<h3 id="f6">6. Orientação de teses</h3>

<strong>6.1. Doutoramentos (indicar título, nome do candidato(a) e curso; dividir entre teses em desenvolvimento e terminadas - indicar a data de defesa se aplicável):</strong>
<br>
<textarea name="f6_1" class="expanding">{{=contents['f6_1']}}</textarea>

<br>

<strong>6.2. Mestrados (indicar título, nome do candidato(a) e curso; dividir entre teses em desenvolvimento e terminadas - indicar a data de defesa se aplicável):</strong>
<br>
<textarea name="f6_2" class="expanding">{{=contents['f6_2']}}</textarea>

<br>

<strong>6.3. Pós-Doutoramentos em curso (título, datas e nome do investigador(a)):</strong>
<br>
<textarea name="f6_3" class="expanding">{{=contents['f6_3']}}</textarea>

<br>

<h3 id="f7">7. Participação em equipas editoriais e comissões científicas de revistas (indicar cargo, revista e URL)</h3>

<textarea name="f7" class="expanding">{{=contents['f7']}}</textarea>

<br>

<h3 id="f8">8. Atividades previstas para o próximo ano</h3>

<strong>8.1. Atividades no âmbito de projetos (p.e. projetos a submeter a financiamento):</strong>
<br>
<textarea name="f8_1" class="expanding">{{=contents['f8_1']}}</textarea>

<br>

<strong>8.2. Publicações (indicar o título e se está em preparação, em fase de avaliação ou no prelo):</strong>
<br>
<textarea name="f8_2" class="expanding">{{=contents['f8_2']}}</textarea>

<br>

<strong>8.3. Comunicações em eventos (indicar URL do evento, título (provisório) da comunicação):</strong>
<br>
<textarea name="f8_3" class="expanding">{{=contents['f8_3']}}</textarea>

<br>

<strong>8.4. Organização de eventos (indicar tipo de evento, local, equipa organizadora, financiamento):</strong>
<br>
<textarea name="f8_4" class="expanding">{{=contents['f8_4']}}</textarea>

<br>

<h3 id="f9">9. Cargos de Gestão no ILCH ou na Universidade</h3>

<textarea name="f9" class="expanding">{{=contents['f9']}}</textarea>

<br>

<h3 id="f10">10. Júris</h3>

<strong id="f10_1">10.1. Júris de Provas (Mestrado, Doutoramento e Agregação):</strong>
<br>
<textarea name="f10_1" class="expanding">{{=contents['f10_1']}}</textarea>

<br>

<strong id="f10_2">10.2. Outros painéis de avaliação:</strong>
<br>
<textarea name="f10_2" class="expanding">{{=contents['f10_2']}}</textarea>

<br>

<h3 id="f11">11. Participação em Órgãos Sociais de Associações ou Sociedades Científicas</h3>

<textarea name="f11" class="expanding">{{=contents['f11']}}</textarea>

<br>

<h3 id="f12">12. Outras atividades de extensão</h3>

<textarea name="f12" class="expanding">{{=contents['f12']}}</textarea>

</div> <!-- #info -->


<input type="hidden" name="data">
<input type="hidden" name="private_link">
<input type="hidden" name="submited" value="yes" id="submited">

<!--<input type="hidden" name="id" value="15">
<input value="{{=form.formkey}}" type="hidden" name="_formkey">
<input type="hidden" name="_formname" value="{{=form.formname}}">-->

{{=form.hidden_fields()}}

<br>

<input type="submit" value="Gravar Relatório" class="btn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;">

<!--<a href="#" class="btn" style="width:100%;margin:0;">Guardar e submeter mais tarde</a>-->
<!--<input type="submit" value="Guardar e submeter mais tarde" id="save" class="btn" style="width:100%;margin:0;" />-->

</form>

<script type="text/javascript">
//$("#save").click(function(){
    //var form = $("form").serialize();
    //alert(form);
    //return false;
    //$('#submited').val('no');
//});
</script>

{{pass}}
