{{extend 'layout.html'}}
<style type="text/css">
*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*, html, body, table, form {
padding: 0;
margin: 0;
}

#dados {
background: beige;
padding: 5px 15px  3px 15px;
}

</style>

<!--
<div id="dados">
    <h1>Prazo para submissão de relatórios encerrado!</h1>
</div>
-->

<div id="dados">
<h3 style="margin:0;">Criar novo relatório:</h3>
<a href="{{=URL('default', 'new')}}" class="btn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;">Novo</a>
</div>

<br>
<br>

<div id="dados">
<form action="{{=URL('default','edit')}}" enctype="multipart/form-data" method="post">
<h3 style="display:inline;">Editar relatório gravado:</h3>
<p>(Apenas se já inseriu o relatório através do botão superior e deseja editar)</p>
<table style="margin-top:10px;">
<tr>
<td>
<b>Identificador:</b>
</td>
<td>
<input name="code">
</td>
</tr>
<tr>
<td>
<b>Password:</b>
</td>
<td>
<input name="password">
</td>
</tr>
<tr>
<td>
<input type="submit" value="Editar" class="btn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;" />
</td>
</tr>
</table>
</form>
</div>

<br>
