{{block head}}
<style type="text/css">
*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*, html, body {
padding: 0;
margin: 0;
}

textarea, .textareaClone {
width:100%;
min-height:6em;
}

#dados {
background: beige;
padding: 3px 10px  3px 10px;
}
</style>
<script src="{{=URL('static','js/expanding.js')}}" type="text/javascript"></script>
{{end}}
{{extend 'layout.html'}}

<div id="quick-bar-left" class="img-title">
<uL>
<li><a href="#top" title="Top">&#8679;</a></li>
<li><a href="#f1" title="1. Projetos">1.</a></li>
<li><a href="#f2" title="2. Internacionalização">2.</a></li>
<li><a href="#f3" title="3. Publicações">3.</a></li>
<li><a href="#f4" title="4. Comunicações">4.</a></li>
<li><a href="#f5" title="5. Organização de eventos">5.</a></li>
<li><a href="#f6" title="6. Orientação de teses">6.</a></li>
<li><a href="#f7" title="7. Participação em equipas editoriais e comissões científicas de revistas">7.</a></li>
<li><a href="#f8" title="8. Atividades previstas para o próximo ano">8.</a></li>
<li><a href="#f9" title="9. Cargos de Gestão no ILCH ou na Universidade">9.</a></li>
<li><a href="#f10" title="10. Júris">10.</a></li>
<li><a href="#f11" title="11. Participação em Órgãos Sociais de Associações ou Sociedades Científicas">11.</a></li>
<li><a href="#f12" title="12. Outras atividades de extensão">12.</a></li>
</ul>
</div>

<form enctype="multipart/form-data" method="post">

<div>
<input type="submit" value="Gravar Relatório" class="brn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;">
</div>

<br>

<div style="border-top:1px solid gray;border-bottom:1px solid gray;padding:2px 10px;">Até à data de encerramento, é possível editar este formulário, pelo que os dados poderão ser gravados e alterados posteriormente. Ao gravar, será reencaminhado para uma página com as credenciais necessárias para continuar a trabalhar no documento.
<!--<strong>Nota:</strong> pode gravar e continuar mais tarde, até à data de encerramento é possível editar, só nessa altura será lacrado. Os únicos campos de preenchimento obrighatório são os da secção "Informação Geral". Ao gravar será reencaminhado para uma página com credenciais para poder editar mais tarde e/ou descarregar os dados.--></div>

<br>

{{if form.errors:}}
<div class="errors" style="background:red;color:#ffffff;font-weight:bold;padding:2px 5px;">ERRO: Não foi gravado! Por favor preencha todos os campos da secção "Informação Geral", são os únicos obrigatórios.</div>
{{pass}}

<div id="dados">
<h3 style="display:inline;">Informação Geral:</h3>
<span style="float:right;">*Preenchimento obrigatório</span>
<table>
<tr>
<td>
<strong>*Nome:</strong>
</td>
<td>
<input name="nome"{{if form.vars.nome:}}value="{{=form.vars.nome}}"{{pass}}>
</td>
</tr>
<tr>
<td>
<strong>*E-mail:</strong>
</td>
<td>
<input name="email"{{if form.vars.email:}}value="{{=form.vars.email}}"{{pass}}>
</td>
</tr>
<tr>
<td>
<strong>*Nº Mecanográfico:</strong>
</td>
<td>
<input name="number"{{if form.vars.number:}}value="{{=form.vars.number}}"{{pass}}>
</td>
</tr>
<tr>
<td>
<strong>*Centro de Investigação:</strong>
</td>
<td>
<select name="centre">
<option value=""></option>
<option value="Nenhum"{{if form.vars.centre == 'Nenhum':}} selected="selected"{{pass}}>Nenhum</option>
<option value="CEHUM"{{if form.vars.centre == 'CEHUM':}} selected="selected"{{pass}}>CEHUM</option>
<option value="CEPS"{{if form.vars.centre == 'CEPS':}} selected="selected"{{pass}}>CEPS</option>
</select>
</td>
</tr>
<tr>
<td>
<strong>*Departamento:</strong>
</td>
<td>
<select name="department">
<option value=""></option>
<option value="Nenhum"{{if form.vars.department == 'Nenhum':}} selected="selected"{{pass}}>Nenhum</option>
<option value="DEA"{{if form.vars.department == 'DEA':}} selected="selected"{{pass}}>DEA</option>
<option value="DEGE"{{if form.vars.department == 'DEGE':}} selected="selected"{{pass}}>DEGE</option>
<option value="DEINA"{{if form.vars.department == 'DEINA':}} selected="selected"{{pass}}>DEINA</option>
<option value="DEPL"{{if form.vars.department == 'DEPL':}} selected="selected"{{pass}}>DEPL</option>
<option value="DER"{{if form.vars.department == 'DER':}} selected="selected"{{pass}}>DER</option>
<option value="DFIL"{{if form.vars.department == 'DFIL':}} selected="selected"{{pass}}>DFIL</option>
<option value="DM"{{if form.vars.department == 'DM':}} selected="selected"{{pass}}>DM</option>
</select>
</td>
</tr>
<tr>
<td>
<strong>*Categoria Profissional:</strong>
</td>
<td>
<select name="categoria">
<option value=""></option>
<option value="Assistente estagiário"{{if form.vars.categoria == 'Assistente estagiário':}} selected="selected"{{pass}}>Assistente estagiário</option>
<option value="Leitor"{{if form.vars.categoria == 'Leitor':}} selected="selected"{{pass}}>Leitor</option>
<option value="Assistente"{{if form.vars.categoria == 'Assistente':}} selected="selected"{{pass}}>Assistente</option>
<option value="Prof. Auxiliar convidado"{{if form.vars.categoria == 'Prof. Auxiliar convidado':}} selected="selected"{{pass}}>Prof. Auxiliar convidado</option>
<option value="Prof. Auxiliar sem agregação"{{if form.vars.categoria == 'Prof. Auxiliar sem agregação':}} selected="selected"{{pass}}>Prof. Auxiliar sem agregação</option>
<option value="Prof. Auxiliar com agregação"{{if form.vars.categoria == 'Prof. Auxiliar com agregação':}} selected="selected"{{pass}}>Prof. Auxiliar com agregação</option>
<option value="Prof. Associado sem agregação"{{if form.vars.categoria == 'Prof. Associado sem agregação':}} selected="selected"{{pass}}>Prof. Associado sem agregação</option>
<option value="Prof. Associado com agregação"{{if form.vars.categoria == 'Prof. Associado com agregação':}} selected="selected"{{pass}}>Prof. Associado com agregação</option>
<option value="Prof. Catedrático"{{if form.vars.categoria == 'Prof. Catedrático':}} selected="selected"{{pass}}>Prof. Catedrático</option>
<option value="Investigador (com bolsa)"{{if form.vars.categoria == 'Investigador (com bolsa)':}} selected="selected"{{pass}}>Investigador (com bolsa)</option>
<option value="Investigador (sem bolsa)"{{if form.vars.categoria == 'Investigador (sem bolsa)':}} selected="selected"{{pass}}>Investigador (sem bolsa)</option>
<option value="Investigador contratado"{{if form.vars.categoria == 'Investigador contratado':}} selected="selected"{{pass}}>Investigador contratado</option>
<option value="Outro"{{if form.vars.categoria == 'Outro':}} selected="selected"{{pass}}>Outro</option>
</select>
</td>
</tr>
<tr>
<td>
<strong>*Grau académico:</strong>
</td>
<td>
<select name="grau">
<option value=""></option>
<option value="Licenciado"{{if form.vars.grau == 'Licenciado':}} selected="selected"{{pass}}>Licenciado</option>
<option value="Mestre"{{if form.vars.grau == 'Mestre':}} selected="selected"{{pass}}>Mestre</option>
<option value="Doutor"{{if form.vars.grau == 'Doutor':}} selected="selected"{{pass}}>Doutor</option>
<option value="Agregação"{{if form.vars.grau == 'Agregação':}} selected="selected"{{pass}}>Agregação</option>
</select>
</td>
</tr>
</table>
</div>

<br>
<br>

<div id="info">
<div style="border-top:1px solid gray;border-bottom:1px solid gray;padding:2px 10px;"><strong>Instruções importantes:</strong> 1) em cada campo ordene os itens por ordem de importância (os mais importantes primeiro); 2) Divida cada item de forma clara através de parágrafos e listas ordenadas numericamente (ex.: 1- etc.; [parágrafo] 2- etc.; [parágrafo] 3- etc;); 3) especifique o máximo de detalhes.</div>

<h3 id="f1">1. Projetos</h3>

<strong id="f1_1">1.1. Projeto(s) não financiados (indicar título, data de início e supervisor/coordenador):</strong>
<br>
<textarea name="f1_1" class="expanding">{{if form.vars.f1_1:}}{{=form.vars.f1_1}}{{pass}}</textarea>
<br>
<strong id="f1_2">1.2. Projeto(s) financiado(s) pela FCT ou outras entidades nacionais (indicar título, data de início e investigador responsável):</strong>
<br>
<textarea name="f1_2" class="expanding">{{if form.vars.f1_2:}}{{=form.vars.f1_2}}{{pass}}</textarea>

<br>

<h3 id="f2">2. Internacionalização</h3>

<strong id="f2_1">2.1. Participação em projetos ou redes internacionais (indicar título, instituição responsável, URL, financiamento e data de início e fim, se aplicável):</strong>
<br>
<textarea name="f2_1" class="expanding">{{if form.vars.f2_1:}}{{=form.vars.f2_1}}{{pass}}</textarea>

<br>

<h3 id="f3">3. Publicações</h3>
<strong>Nota importante: As referências das publicações devem ser indicadas em formato APA, com indicação do URL (referente ao depósito em repositório / link da revista / DOI / indexação / e-Book)</strong>
<br>
<br>
<strong id="f3_1">3.1. Livros (indicar se é monografia, volume editado, etc.):</strong>
<br>
<textarea name="f3_1" class="expanding">{{if form.vars.f3_1:}}{{=form.vars.f3_1}}{{pass}}</textarea>

<br>

<strong id="f3-2">3.2. Capítulos de livros (indicar se for peer review)</strong>
<br>

<strong id="f3_2_1">3.2.1. Capítulos de livros nacionais:</strong>
<br>
<textarea name="f3_2_1" class="expanding">{{if form.vars.f3_2_1:}}{{=form.vars.f3_2_1}}{{pass}}</textarea>

<br>

<strong id="f3_2_2">3.2.2. Capítulos de livros internacionais:</strong>
<br>
<textarea name="f3_2_2" class="expanding">{{if form.vars.f3_2_2:}}{{=form.vars.f3_2_2}}{{pass}}</textarea>

<br>

<strong id="f3_3">3.3. Artigos em livros de atas:</strong>
<br>
<textarea name="f3_3" class="expanding">{{if form.vars.f3_3:}}{{=form.vars.f3_3}}{{pass}}</textarea>

<br>

<strong id="f3-4">3.4. Publicações em revistas (indicar se for peer review)</strong>

<br>

<strong id="f3_4_1">3.4.1. Artigos em revistas nacionais:</strong>
<br>
<textarea name="f3_4_1" class="expanding">{{if form.vars.f3_4_1:}}{{=form.vars.f3_4_1}}{{pass}}</textarea>

<br>

<strong id="f3_4_2">3.4.2. Artigos em revistas internacionais:</strong>
<br>
<textarea name="f3_4_2" class="expanding">{{if form.vars.f3_4_2:}}{{=form.vars.f3_4_2}}{{pass}}</textarea>

<br>

<strong id="f3_5">3.5. Outras publicações (não indicar publicações no prelo):</strong>
<br>
<textarea name="f3_5" class="expanding">{{if form.vars.f3_5:}}{{=form.vars.f3_5}}{{pass}}</textarea>

<br>

<h3 id="f4">4. Comunicações</h3>

<strong id="f4_1">4.1. Eventos nacionais (indicar se por convite ou submissão de resumo):</strong>
<br>
<textarea name="f4_1" class="expanding">{{if form.vars.f4_1:}}{{=form.vars.f4_1}}{{pass}}</textarea>

<br>

<strong id="f4_2">4.2. Eventos internacionais (indicar se por convite ou submissão de resumo):</strong>
<br>
<textarea name="f4_2" class="expanding">{{if form.vars.f4_2:}}{{=form.vars.f4_2}}{{pass}}</textarea>

<br>

<h3 id="f5">5. Organização de eventos</h3>
<strong>Indicar título, data, local e URL do evento.</strong>
<br>
<textarea name="f5" class="expanding">{{if form.vars.f5:}}{{=form.vars.f5}}{{pass}}</textarea>

<br>

<h3 id="f6">6. Orientação de teses</h3>

<strong id="f6_1">6.1. Doutoramentos (indicar título, nome do candidato(a) e curso; dividir entre teses em desenvolvimento e terminadas - indicar a data de defesa se aplicável):</strong>
<br>
<textarea name="f6_1" class="expanding">{{if form.vars.f6_1:}}{{=form.vars.f6_1}}{{pass}}</textarea>

<br>

<strong id="f6_2">6.2. Mestrados (indicar título, nome do candidato(a) e curso; dividir entre teses em desenvolvimento e terminadas - indicar a data de defesa se aplicável):</strong>
<br>
<textarea name="f6_2" class="expanding">{{if form.vars.f6_2:}}{{=form.vars.f6_2}}{{pass}}</textarea>

<br>

<strong id="f6_3">6.3. Pós-Doutoramentos em curso (título, datas e nome do investigador(a)):</strong>
<br>
<textarea name="f6_3" class="expanding">{{if form.vars.f6_3:}}{{=form.vars.f6_3}}{{pass}}</textarea>

<br>

<h3 id="f7">7. Participação em equipas editoriais e comissões científicas de revistas (indicar cargo, revista e URL)</h3>

<textarea name="f7" class="expanding">{{if form.vars.f7:}}{{=form.vars.f7}}{{pass}}</textarea>

<br>

<h3 id="f8">8. Atividades previstas para o próximo ano</h3>

<strong id="f8_1">8.1. Atividades no âmbito de projetos (p.e. projetos a submeter a financiamento):</strong>
<br>
<textarea name="f8_1" class="expanding">{{if form.vars.f8_1:}}{{=form.vars.f8_1}}{{pass}}</textarea>

<br>

<strong id="f8_2">8.2. Publicações (indicar o título e se está em preparação, em fase de avaliação ou no prelo):</strong>
<br>
<textarea name="f8_2" class="expanding">{{if form.vars.f8_2:}}{{=form.vars.f8_2}}{{pass}}</textarea>

<br>

<strong id="f8_3">8.3. Comunicações em eventos (indicar URL do evento, título (provisório) da comunicação):</strong>
<br>
<textarea name="f8_3" class="expanding">{{if form.vars.f8_3:}}{{=form.vars.f8_3}}{{pass}}</textarea>

<br>

<strong id="f8_4">8.4. Organização de eventos (indicar tipo de evento, local, equipa organizadora, financiamento):</strong>
<br>
<textarea name="f8_4" class="expanding">{{if form.vars.f8_4:}}{{=form.vars.f8_4}}{{pass}}</textarea>

<br>

<h3 id="f9">9. Cargos de Gestão no ILCH ou na Universidade</h3>

<textarea name="f9" class="expanding">{{if form.vars.f9:}}{{=form.vars.f9}}{{pass}}</textarea>

<br>

<h3 id="f10">10. Júris</h3>

<strong id="f10_1">10.1. Júris de Provas (Mestrado, Doutoramento e Agregação):</strong>
<br>
<textarea name="f10_1" class="expanding">{{if form.vars.f10_1:}}{{=form.vars.f10_1}}{{pass}}</textarea>

<br>

<strong id="f10_2">10.2. Outros painéis de avaliação:</strong>
<br>
<textarea name="f10_2" class="expanding">{{if form.vars.f10_2:}}{{=form.vars.f10_2}}{{pass}}</textarea>

<br>

<h3 id="f11">11. Participação em Órgãos Sociais de Associações ou Sociedades Científicas</h3>
<textarea name="f11" class="expanding">{{if form.vars.f11:}}{{=form.vars.f11}}{{pass}}</textarea>

<br>

<h3 id="f12">12. Outras atividades de extensão</h3>
<textarea name="f12" class="expanding">{{if form.vars.f12:}}{{=form.vars.f12}}{{pass}}</textarea>

</div> <!-- #info -->

<!--<input type="hidden" name="data" value="{{#=request.now.replace(microsecond=0)}}" />-->
<input type="hidden" name="data">
<!--<input type="hidden" name="private_link">-->
<!--<input type="hidden" name="submited" value="no" id="submited">-->

{{=form.hidden_fields()}}

<br>

<input type="submit" value="Gravar Relatório" class="btn btn-inverse" style="font-size:20px;padding:10px 20px;margin:10px 0px;">

</form>

<!--
<div style="display:inline-block;">
<input type="submit" value="Submeter Relatório" class="btn-inverse" style="font-size:30px;padding:15px 20px;margin:0;" />
<br>
<br>

<input type="submit" value="Guardar e submeter mais tarde" id="save" class="btn" style="width:100%;margin:0;" />
</div>

<div style="display:inline-block;float:right;">
<strong>Converter e descarregar em formato:</strong>
</div>
-->

<script type="text/javascript">
$( document ).ready(function() {
$("textarea").attr('placeholder', 'Estruturar da seguinte forma:\n1- Dados do item.\n2- Dados do item.\n3- Dados do item etc.');
});

//$("#save").click(function(){
//   $('#submited').val('no');
//});
</script>
