{{block head}}
<style type="text/css">
.web2py_counter {
font-weight:bold;
color:red;
}
.w2p_fl {
display:block;
font-weight:bold;
}
.w2p_fw, {
display:block;
font-weight:bold;
}

form .form-control, .w2p_query_row .form-control {
height: 30px !important;
line-height: 30px !important;
}
    
.web2py_form table td.w2p_fl {
width:400px !important;
display:table-cell !important;
word-wrap: break-word !important;
white-space: normal !important;
        border-right:1px solid #333;
    padding-right:3px;
}
    
.web2py_form table td.w2p_fl label {
display:inline !important;
word-wrap: break-word !important;
white-space: normal !important; 
    font-size:12px;
    color:gray;
}
    

    
    .web2py_form table tr {
        
        border-bottom:1px solid #333;
    }
    
    .web2py_form table td.w2p_fc {display:none;}

</style>
{{end}}
{{extend 'layout.html'}}

<div id="quick-bar-left" class="img-title">
<uL>
<li><a href="#top" title="Top" style="width:60px;">&#8679;</a></li>
<li><a href="#bd" title="Base de dados" style="width:60px;">Users</a></li>
<li><a href="#dados" title="Dados por extenso" style="width:60px;">Dados</a></li>
<li><a href="#mailinglist" title="Mailing list" style="width:60px;">E-mails</a></li>
</ul>
</div>

<h1 id="bd">Base de Dados:</h1>

<!--<br>

<div style="border-top:1px solid gray;border-bottom:1px solid gray;padding:5px 10px;font-weight:bold;font:bold 18px Arial;">
> <a href="{{=URL('default','ver_relatorio_html', vars=request.vars)}}" target="_blank">Ver Relatório Completo Formato HTML</a>
<br>
> <a href="{{=URL('default','ver_relatorio_rtf.rtf', vars=request.vars)}}" target="_blank">Ver Relatório Completo Formato TEXTO/RTF</a></div>

<br>
<br>-->

<h3 style="background:#FFF550;">Filtrar utilizadores:</h3>

{{=table}}

<br>
<br>
<h2 id="dados">Dados por extenso</h3>
<h3>Filtrar por campo (*se vazio oculta):</h3>

<form id="filtrar">
<select>
<option value="all">Todos os campos</option>
{{for i in fields_data:}}
{{if i[1]:}}
<option value="{{=i[1]}}">{{=i[0]}}</option>
{{pass}}
{{pass}}
</select>
<br>
<!--<input type="submit" value="Filtrar">-->
</form>

<script>
$( document ).ready(function() {

$('#filtrar select').change(function() {
var temp_var = $(this).val();

if (temp_var == 'all') {
    {{for i in fields_data:}}
        {{if i[1]:}}
        $(".temp-{{=i[1]}}").show();
        $(".temp-{{=i[1]}}").parent(".item-filter").show();
        {{pass}}
    {{pass}}
}
else {
    /*If else para hide também o nome da pessoa, o div todo não só a tag pre*/
    $( ".temp-"+temp_var ).each(function( index ) {

        if ( $(this).find("pre").text().trim() != "" ) {
        $(this).parent(".item-filter").show();
        $(this).show();
        $(".temp-fields").not(".temp-"+temp_var).hide();
        }
        else {
        $(this).parent(".item-filter").hide();
        }

    });
}

});

});
</script>

<script>
/*$( document ).ready(function() {
$("#filter_results").click(function () {
    $(this).addClass( "yes-focus" );
});
});*/

/*function selectDiv(x) {
    //tem problemas no Chrome: só funciona pelo botão; se carregar direto selecciona tudo. Por isso fiz engenhoca de if else e js para tentar desligar a função se for por click direto no div, só queria que lançasse pelo botão
    if ($("#filter_results").hasClass("yes-focus")) {
    }
    else {
    document.execCommand('selectAll', false, null);
    }
}*/

function focusDiv(x) {
    $("#filter_results").removeClass( "yes-focus" );
    document.getElementById('filter_results').focus();
    document.execCommand('selectAll', false, null);
}


</script>

{{#if "view" not in request.args:}}
{{if not request.args:}}
<p style="text-align:right;"><button class="select-copy" type="button" onclick="focusDiv(this);">Seleccionar tudo para copy paste</button></p>

<div id="filter_results" class="no-focus" contenteditable="true" style="border:1px solid #333;padding:10px;width:100%;display:block;">
{{for x in table.rows:}}
    <span class="item-filter">
        <h3>{{=x.nome}} ({{=x.centre}} | {{=x.department}})</h3>

        {{for i in fields_data:}}
        {{n = str(i[1])}}
        {{if n:}}
        <span class="temp-{{=i[1]}} temp-fields"><strong>{{=i[0]}}</strong>
        <pre>{{=XML(x[n])}}</pre>
        </span>
        {{pass}}
        {{pass}}
        <br>
    </span>
{{pass}}
</div>
{{pass}}

<script>
//$(".select-copy").click(function () {
//$("#filter_results").removeClass( "no-focus" );
//}

//$(".select-copy").click(function () {
//    $("#filter_results").focus();
//    $("#filter_results").select();
//});
</script>


<script>
//Hide the long text columns, so the list is more compact
//$('td:nth-child(1),th:nth-child(1)').hide();
$('.web2py_htmltable th').eq(8).nextUntil("tr").hide();
$('.web2py_htmltable tbody td:nth-child(n+10)').hide();
//for(i = 7; i < 22; i++) {
//$('td:nth-child('+i+'),th:nth-child('+i+')').hide();
//$('td').eq(2).nextUntil("tr").hide();
</script>

<br>
<br>

{{if not request.args:}}
<h3 id="mailinglist">Lista de e-mails dos users filtrados:</h3>

<p style="text-align:left;">{{for x in table.rows:}}{{=x.email}}, {{pass}}</p>
{{pass}}
    
<!--
{{#for e in emails:}}
{{#=e["email"]}};
{{#pass}}
-->


<!--
{{#t = db(db.relatorio.centre=="CEHUM").select()}}

{{#for x in t:}}

{{#if x["f6_3"]:}}
==={{#=x["nome"]}}===
<br>
<pre>{{#=XML(x["f6_3"])}}</pre>
<br><br>
{{#pass}}

{{#pass}}
-->
