<html>
<head>
<meta charset="UTF-8">
<title>Relatório 2018</title>
<style type="text/css">
*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body, pre, p {
font: normal 14px Arial;
}

body {
margin:0;
padding:30px;
}

pre {
white-space:pre-wrap;
}
</style>
</head>

<body>
<h1>Relatório ILCH 2018</h1>
<h2>Linha Temática: <span style="text-decoration:underline;">{{=linha}}</span></h2>

<br>

{{=html}}

</body>
</html>
