<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- www.phpied.com/conditional-comments-block-downloads/ -->

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
<![endif]-->

<title>Relatório {{=YEAR}}</title>
<meta name="robots" content="noarchive">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

<script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

<!-- stylesheets -->
{{
response.files.append(URL('static','css/web2py.css'))
response.files.append(URL('static','css/bootstrap.min.css'))
response.files.append(URL('static','css/bootstrap-responsive.min.css'))
response.files.append(URL('static','css/web2py_bootstrap.css'))
response.files.append(URL('static','css/style.css'))
}}

{{include 'web2py_ajax.html'}}

{{
# using sidebars need to know what sidebar you want to use
left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
middle_columns = {0:'span12',1:'span9',2:'span6'}[
(left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
}}

<noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
{{block head}}{{end}}
</head>

<body>

<div id="top" class="container">
{{include 'nav.html'}}
<!-- Masthead ================================================== -->
<header class="mastheader row" id="header" style="margin-top:25px;">
<div class="span12">
<div class="page-header">
<h1>
Relatório {{=YEAR}}
</h1>

</div>
</div>
</header>

<div class="flash">{{=response.flash or ''}}</div>

<div class="span12">
{{block center}}
{{include}}
{{end}}
</div>

</section> <!--/main-->

<!-- Footer -->
<div class="row">
<footer class="footer span12" id="footer">
<div class="footer-content">
{{block footer}} <!-- default footer -->
<div class="copyright pull-left" style="margin-bottom:10px;"><a href="https://www.ilch.uminho.pt/pt" target="_blank">ILCH</a> &#169; {{=request.now.year}}</div>
<div id="poweredBy" class="pull-right" style="margin-bottom:10px;">
Website por: <a href="http://www.paulojorgepm.net" target="_blank">Paulo Jorge PM</a> | Programado com: <a href="https://www.python.org/" target="_blank">Python</a> + <a href="http://www.web2py.com/" target="_blank">Web2py</a>
</div>
{{end}}
</div>
</footer>
</div>

</div> <!-- /container -->

<!-- javascript  -->
<!--Inner nav slow scroll-->
<script type="text/javascript">
$(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash,
        $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
});
</script>

<!--EASTER EGG-->
<script type="text/javascript">
function fellowship(){
    $('body').css("background-image","url({{=URL('static','images/42.jpg')}})");
    alert('You found an Easter Egg :D');
}
</script>


<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>

<!--[if lt IE 7 ]>
<script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->

</body>
</html>
