<div style="margin:10px 0px;text-align:right;">
<a href="{{=URL('default','index')}}" class="btn btn-inverse">Home</a> &nbsp; <a href="{{=URL('default','new')}}" class="btn btn-inverse">Novo</a> &nbsp; <a href="{{=URL('default','edit')}}" class="btn btn-inverse">Editar</a>
</div>
