*, *:after, *:before {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

input:hover, textarea:hover, select:hover {
-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.65);
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.65);
}

.container {

}

textarea, .textareaClone {
min-height:7em !important;
}

#quick-bar-left {
position:fixed;
top:0px;
left:0px;
z-index: 999;
}

#quick-bar-left ul {
display:inline-block;
margin:0;
padding:0;
}

#quick-bar-left ul li {
display:block;
width:30px;
/*padding-left:10px;*/
}

#quick-bar-left ul li a {
display:block;
background:#333;
border:1px solid #000000;
padding:0px 5px;
color:#ffffff;
font-size:12px;
}
#quick-bar-left ul li a:hover {
background:beige;
color:#000000;
text-decoration:none;
}

.img-title a:hover {
position:relative;
}

.img-title a[title]:hover:after {
content: attr(title);
padding: 4px 8px;
color: #333;
position: absolute;
left: 40px;
top: 0px;
white-space: nowrap;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0px 0px 4px #222;
-webkit-box-shadow: 0px 0px 4px #222;
box-shadow: 0px 0px 4px #222;
background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

@media (max-width: 1250px) {
    .span12 {
        padding:0 !important;
        margin:0 !important;
        width:auto;
    }
    .container {
    padding:0 35px;
    }


}
